{% extends "base.html" %}
{% block content %}
<h2 class="mb-3">List of Departments</h2>
<div class="row">
    <div class="col">
        <a href="/" class="btn btn-secondary mb-4">Back to jobs</a>
    </div>
    <div class="col">
        <a href="/add_dep" class="btn btn-secondary">Add departament</a>
    </div>
</div>
{% for dep in departments %}
    <h3>Department # {{ dep.id }}</h3>
    <table class="table">
        <tr class="table-secondary">
            <td>Название департамента
            <td>Шеф
            <td>Список команды
            <td>Почта
        <tr>
        <td class="table-primary">{{ dep.title }}
        <td class="table-primary">{{ dep.user.surname }} {{ dep.user.name }}
        <td class="table-primary">{{ dep.members }}
        <td class="table-primary">{{ dep.email }}
    </table>
    {% if current_user.id == 1 or current_user.id == dep.chief %}
        <div class="row">
            <div class="col">
                <a href="/redactor_dep/{{dep.id}}" class="btn btn-warning">Редактировать</a>
            </div>
            <div class="col">
                <a href="/delete_dep/{{dep.id}}" class="btn btn-danger">Удалить</a>
            </div>
        </div>
    {% endif %}
{% endfor %}
{% endblock %}